:root {
    --main-color: white;
    --secondary-color: #2B9DF4; 
    --tertiary: gray;
}

a {
    font-family: 'jura' , sans-serif;
    color: var(--tertiary);
    
}



p {
    font-family: 'jura' , sans-serif;
    color: var(--main-color);
}

h4 {
    font-family: 'Orbitron', sans-serif; 
    color: var(--secondary-color);
    
}   

h1, h5, h2, h3 {
    color: var(--main-color);
    font-family: 'Orbitron', sans-serif;  
}

body {
    background-color: black;

    
}

.bg-nero {
    background-color: rgba(0, 0, 0, 0.918);
    border-bottom: solid 1px var(--main-color);
}

.bg-nero-2 {
    background-color: black;
    
}


.fa-moon1:before {
    content: "\f186";
    color: white;
    font-size: 30px;
    
}



/* .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show.nav-link {
    color:var(--tertiary);
    font-size: 15px;
    padding-inline: 25px;
    font-family: 'jura' , sans-serif;
} */

.navbar {
    font-size: 19px;
    font-family: 'jura' , sans-serif;
    background-color: black;
    border-bottom: solid 1px var(--main-color);
    padding-left: 25px;
}


.navbar .nav-link:hover {
    border-bottom: solid 1px var(--secondary-color);
    padding-bottom: 1px;
    color: var(--secondary-color);
}

.navbar-toggler-icon {
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
}





/* primo blocco luna */
.prima-luna {
    height: 100vh;
    min-height: 500px;
    background-image: url('./img/moon.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    
}


/* icona freccia giù */
.fa-chevron-down:before {
    content: "\f078";
    font-size: 30px;
    color:var(--secondary-color);
    
}   


/* colonna centrata icona */
.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
    text-align: center;
}



#border-bottom {
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 16px;
}


#button {
    appearance: auto;
    /* -ms-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(black, black);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display:inline-flex;
    text-align: center;
    align-items: center;
    cursor: default;
    background-color: -internal-light-dark(rgb(0, 0, 0), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    background-color: rgb(0, 0, 0);
}

.accordion-header {
    margin-bottom: 0;
    text-align: center;
}



.seconda-luna {
    height: 150vh;
    min-height: 500px;
    background-image: url('./img/moon2.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}


header.seconda-luna h3 {
    color:var(--secondary-color);
    
} 

.icons {
    color: #2B9DF4;
    padding-right: 10px;
}


.paddingt {
    padding-top: 150px;
}


#border-bottom-2 {
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 8px;
}




.paddingb {
    padding-bottom: 200px;
}




.btn-dark {
    color: var(--main-color);
    background-color: black;
    border-color: black;
    width: 120px;
    height: 30px;
    font-family: 'jura' , sans-serif;
    border: solid 1px var(--secondary-color);
    float: right;
}


.btn-dark:hover {
    background-color: black;
    border: solid 1px gray;
} 

.secondary-text {
    color: var(--secondary-color);
}

.p-gray {
    color: var(--tertiary);
    font-size: 15px;
}



.background-container {
    background:url('./img/terra.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    height: 100%; */
    padding-top: 540px;
    padding-bottom: 100px;
    
    
    
}

.social-icons {
    color: var(--main-color);
    font-size: 19px;
    transition: 1s;
    
}

.social-icons:hover {
    color: var(--secondary-color);
    font-size: 30px;
}

.padding-social {
    padding-top: 60px;

}


/* * {
    outline: 1px solid red;
} */

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-left: 0px;
    
    width: 1300px;
    


}